.carousel-item img, .cacrousel-item, .carousel {
	height: 60vh !important;
}
.carousel-item img {
	object-fit: cover;
}
.carousel-caption {
	color: black !important;
}
.font-serif {
	font-family: 'DM Serif Text', serif !important;
}
.font {
	font-family: 'Lato', sans-serif !important;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
}
.carousel-control-prev, .carousel-control-next{
	width: 100px;
}